networks:
  ai_network:
    driver: bridge

volumes:
  ollama:

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      ollama:
        condition: service_started
    ports:
      - "8000:8000"
    networks:
      - ai_network
    env_file:
      - .env

  ollama:
    image: ollama/ollama
    container_name: ollama
    ports:
      - "11434:11434"
    volumes:
      - ollama:/root/.ollama
    networks:
      - ai_network
    environment:
      - AI_MODEL
